extends layout

block content
	h1= title


	form(action='/ingredient/create', method='post')
		| Ingredient Name
		input(name='todo', id="newinput")
		| Cost
		input(name='todo', id="newinput")
		button(type='submit')
			| Submit